*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Public Sans', sans-serif;
   }
   
 html,body{
     overflow-x: hidden;
     position: relative;
 }
   
:root{
    --azulacizentado: hsl(233,8%,62%);
    --azulescuro: hsl(233,26%,24%);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    padding-right: 30px;
    height: 70px;
    position: absolute;
    width: 100%;
    z-index: 1;
    background: white;
 }
  
.hamb{
    display: none;
    cursor: pointer;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    margin: 0 16px;
}
.navbar ul li:after{
    content: "";
    display: block;
    opacity: 0;
    width:20px;
    height: 3px;
    transition: 0.5s ease;
    background: linear-gradient(to right,  hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
.navbar ul li:hover::after{

    opacity: 1;
    width: 45px;
}

.navbar ul li a{
    color: var(--azulacizentado);

}
button{
    border-radius: 60px 60px;
    border: none;
    outline: none;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.texto{
    padding: 200px;
}

.texto h1{
    width: 50%;
}
.texto p{
    margin-top: 15px;
    width: 50%;
}
.ola{
    margin-top: 20px;
    transition: 0.5s ease;
    cursor: pointer;
}
.ola:hover{
    opacity: 0.5;
}
.toptop{
    transition: 0.5s ease;
    cursor: pointer;
}
.toptop:hover{
    opacity: 0.5;
}
.meio{
    display: flex;
    flex-wrap: wrap-reverse;
    background:hsl(0, 0%, 98%);
}
 
.icons{
    margin-top: 50px;
   
}

.foto{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    background: url('images/bg-intro-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap-reverse;

   
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}
.textos{
    padding-left: 200px;
}

.textos p{
    margin-top: 20px;
}
.textos{
    padding-top: 50px;
}
 
.meio3{
    width: 100%;
   
}
.online p{
    margin-top: 20px;
}
.latest{
    padding-top: 80px;
    padding-left: 200px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 2.5%;
     
}
.imagem .image{
    object-fit: cover;
    height: 245px;
    width: 285px;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    margin: 0 !important
}
.card1 .p1{
    font-size: 0.5em;
    padding-left: 20px;
}
.card1 .p2{
    padding-top: 10px;
    font-size: 1.5em;
    padding-left: 20px;
}
.card1 .p3{
    font-size: 0.9em;
    padding-top: 10px;
    padding-left: 20px;
}
.card1 img{
    width: 50%;
    
}
.text{
   
    padding-top: 30px;
    width: 285px;
    height: 170px;
    background: #fff;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem
}

footer{
    height: 200px;
    margin-top: 90px;
    width: 100%;
    background: hsl(233, 26%, 24%);
     display: flex;
     justify-content: space-evenly;
     align-items: center;
      
}
.navbar-one ul li a{
    color: white;
}
.navbar-one ul li{
    margin-top: 15px;
}
.navbar-two ul li{
    margin-top: 15px;
}
.navbar-two ul li a{
    color: white;
}
.redes{
    padding-top: 30px;
}
.nav1 ul li a{
    color: white;
}
.nav2 ul li a{
    color: white;
}
.nav1 ul li{
    padding: 6px;
}
.nav2 ul li{
    padding: 6px;
}

.iconess {
    margin-left: 150px;
}
.copy{
    padding-top: 10px;
    color: white;
}
.botao a{
    color: white;
}
@media(max-width:800px){
    .containerr{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        align-items: center;
        height: 800px;
       align-content: space-around;
        
    }
    .foto{
        background-position: center ;
        flex-direction: column-reverse;
    }
     
    .iconess .dark{
        margin-right: 150px;
    }

    .iconess img{
        margin-top: 30px;
        margin-left: -10px;
        text-align: center;
    }
     .redes img{
        margin-right: 40px;
    }
    .redes img{
        margin: 0 3px;
    }
  
    .textos{
        padding-left: 40px;
    }
    .botao{
        margin-top: -30px;
        margin-left: 40px;
    }
    .nav1 ul li{
        line-height: 60px;
     }
    .nav2 ul li{
        line-height: 60px;
        margin-left: 20px;
    }
    .lk{
        margin-top: -70px;
    }
    .button{
        display: none;
    }
    .hamb{
        display: block;
    }
   
}

@media(max-width:1000px){
    
   
    .latest{
        padding-left: 90px;
        

    }
    .latest h1{
        margin-top: -60px;
    }
    .navbar{
        display: none;
    }
   
}
 
.menu-hamb{
    position: fixed;
   
    display: flex;
    justify-content: center;
 
    z-index: 1;
    width: 100%;
    height: 100%;
   margin-top: 80px;
   background: linear-gradient(to bottom, #2d314d, rgba(255,255,255,0));
     padding-top: 35px;
     transition: 1s ease;
 }
 .navbar-hamb{
     display: flex;
     flex-direction: column;
     justify-content: center;
     background:hsl(0, 0%, 95%);
     width: 400px;
     height: 250px;
    text-align: center;
    border-radius: 30px 30px;
      
    }
    .classeadd{
        visibility: hidden;
        opacity: 0;
     }
    .navbar-hamb ul li{
        margin-top: 20px;
    }
    .navbar-hamb ul li a{
        color: black;
    }
.fechar{
    display: none;
     transition: 0.5s ease;
    
}
.hamburguer{
    opacity: 1;
    position: relative;
    left: 6px;
    
}
.menu-hamb{
    transition: 0.5s ease;
}
 
.mock{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
 
  
 }
 .img{
    background: url("./images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: 180%;
    background-position: -130px -200px;
   position: relative;
    height: 100%;
   left: 9.8%;
  
 }
 .celulares{
     position: relative;
     top: 11px;
 
 }
.text-mock{
    max-width: 550px;
}
.text-mock h1{
    font-size: 3em;
    color: var(--azulescuro);
}
.text-mock p{
    color: var(--azulacizentado);
    font-weight: 550;
    margin-top: 30px;
    max-width: 400px;
    line-height: 25px;
}
.img img{
    width: 100%;

   
}
.p3{
    color: var(--azulacizentado);
}
.our{
    color: var(--azulacizentado);
    margin-top: 15px;
}
.textoo{
    max-width: 300px;
}
 
 .icones{
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
    margin-top: 50px;
    align-items: flex-start;
  }
  .title{
       padding-left: 140px;
    padding-top: 40px;
  }
  .leverage{
      max-width: 600px;
      margin-top: 25px;
    color: var(--azulacizentado); 
    line-height: 25px;
}
.porque h1{
    font-size: 3em;
    font-weight: 300;
}
  .meio2{
    background:hsl(0, 0%, 98%);
    margin-top: -100px;
    height: 550px;
   }
  .banking{
      margin-top: 25px;
      font-weight: 300;
      font-size: 25px;
  }
  .requesting{
      transition: 0.5s ease;
      cursor: pointer;
  }
  .requesting:hover{
      opacity: 0.5;
  }
  @media(max-width:1340px){
      .meio2{
          margin-top: 0px;
      }
  }

  @media(max-width:1215px){
      .meio2{
          height: auto;
      }
  }

  @media(max-width:1000px){
      .text-mock{
          text-align: center;
      }
      .text-mock p{
          margin-left: 20px;
      }
       .meio2{
           margin-top: 20px;
       }
       .icone2, .icone3, .icone4{
           margin-top: 40px;
       }
       .title{
           padding-left:80px;
       }
       .icones{
           text-align: center;
       }
       .card1{
           margin-top: 40px;
       }
       footer{
           height: 510px;
           flex-direction: column;
       }
       .navbar-one ul{
           text-align: center;
         
       }

       .navbar-two ul{
        text-align: center;
        margin-top: -35px;
    }
    .navbar-one ul li{
        margin-top: 25px;
    }
    .navbar-two ul li{
        margin-top: 25px;
    }
    .img{
        position: static;
         
    }
    .mock{
        margin-top: 10px;
    }
    header{
        position: fixed;
    }
     
  }
  @media(min-width:1001px){
      .menu-hamb{
          display: none;
      }
  }